**/.git
**/.gitignore
**/.vscode
**/.python-version
**/docker-compose
**/Dockerfile
**/build
**/dist
**/*.spec
**/*.spec
**/*.sql
**/.env
**/.python-version
**/.whitesource


.env.docker
.venv
git_branch
git_commit

